.info-zone {
	width: 100%;
	height: 100%;

	justify-content: center;
	text-align: center;

	color : white;
}

.stepper-rouds {
	position: static;
	right: 33%;
	margin-right: 15px;
	position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 20px;
  z-index: 3;
}

.stepper-rouds .round {
	cursor: pointer;
	margin-top: 15px;
	width: 7px;
	height: 7px;
	border: 1px solid white;
	border-radius: 50%;
}
