@import '../fonts/fonts.css';

.info-zone {
	width: 100%;
	height: 100%;

	justify-content: center;
	text-align: center;
	font-size: 20px;
	font-weight: bold;

	display: flex;
	align-items: center;

	color : black;
}

.stepper-rouds {
	position: static;
	right: 33%;
	margin-right: 15px;
	position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 20px;
  z-index: 3;
}

/* TABLET */
@media screen and (max-width: 1224px) and (min-width: 580px) {
	.stepper-rouds {
		right: 0;
	}
}

/* PHONE */
@media screen and (max-width: 580px) {
	.stepper-rouds {
		right: -5%;
	}
}

.stepper-rouds .round {
	cursor: pointer;
	margin-top: 15px;
	width: 7px;
	height: 7px;
	border: 1px solid #4A4861;
	border-radius: 50%;
}

/* PRESENTATION PART */
.presentation-container {
	font-family: Cocogoose;
	color: #4A4861;
	font-weight: 400;
}

.presentation-container .myName {
	font-family: Bebas Neue;
	font-size: 70px;
}

.presentation-container .separator {
	width: 100%;
	height: 2px;
	background-color: #7E7F98;
}

.presentation-container .infos {
	font-family: sans-serif;
	margin : 15px 0;
	display: flex;
	flex-direction: column;
	color: #7E7F98;
}

.presentation-container .infos a {
	color: #7E7F98;
	font-family: Cocogoose;
	font-weight: 400;
}

.presentation-container .avatar {
	margin: 25px auto;
	height: 300px;
	width: 300px;
	display: flex;
	align-items: center;
}

.presentation-container .image {
	margin: 15px auto;
	background-color: black;
	height: 250px;
	width: 250px;

	animation: rotate 1000ms linear infinite;
	transform: rotate(5deg);
}

@keyframes rotate {
	0% { transform: rotate(5deg) }
	50%{ transform: rotate(-5deg) }
    100%{ transform: rotate(5deg) }
}

/* COMPETENCES PART */
.competences-container {
	font-family: Cocogoose;
	color: #4A4861;
	font-weight: 400;
}

.competences-container .myName {
	font-family: Bebas Neue;
	font-size: 70px;
	margin: 0;
}

.competences-container .infos {
	font-style: italic;
	margin: 0 0 45px 0;
	color: #7E7F98;
}

.competences-container .competences-icons-container {
	display: inline-flex;
}

.competences-container .competences-section-container {
	cursor: pointer;
	color: #7E7F98;

	border: 2px solid #7E7F98;
	padding: 55px 40px;
	border-radius: 15px;
	margin: 0 15px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: .5s;
}

.competences-container .competences-section-container:hover {
	background-color: #4A4861;
	border-color: #4A4861;
	color: white;
}

.competences-container .competences-explaination-contaiter {
	margin: 30px auto;
	max-width: 800px;
	min-height: 170px;
	text-align: left;
	padding: 15px;
}

.competences-container .competences-explaination-title {
	color: #7E7F98;
	margin-bottom: 10px;
}

/* EXPERIENCES PART */
.experiences-container {
	font-family: Cocogoose;
	font-weight: 400;
	color: #4A4861;
}

.experiences-container .title {
	font-family: Bebas Neue;
	font-size: 70px;
}

.experiences-container .experiences-wrapper {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
}

.experiences-container .experience-wrapper {
	display: flex;
	flex-direction: column;
	max-width: 350px;
	overflow-wrap: break-word;
}

.experiences-container .experience-title {
	font-family: Bebas Neue;
	font-size: 40px;
	text-align: left;
	margin-top: 10px;
}

.experiences-container .experience-subtitle {
	text-align: left;
	color: #7E7F98;
	font-size: 20px;

	margin-top: 10px;
	margin-right: 30px;
	padding: 5px;
}

.experiences-container .experience-subtitle a {
	font-style: italic;
	color: #7E7F98;
}

/* PORTFOLIO PART */

.portfolio-container {
	font-family: Cocogoose;
	font-weight: 400;
	color: #4A4861;
}

.portfolio-container .title {
	font-family: Bebas Neue;
	font-size: 70px;
}

.portfolio-container .projects-container {
	display: inline-flex;
}

.portfolio-container .project {
	border: 2px solid #7E7F98;
	padding: 55px 40px;
	border-radius: 15px;
	margin: 0 15px;
}
